<div class="container-sm mt-3 mb-3">
  <%= render "shared/user_presentation", :user => @user %>
  <div class="border w-75"><%= @user.bio %> </div>
  <%= @user.recent_3_posts.each_with_index do |post, idx| %>
    <div class="border mt-2 w-75">
      <h5><%= "Post##{idx+1}" %></h5>
      <p><%= post.text %><p>
    </div>
  <% end %>
 
</div>