<div class="container-sm mt-3 mb-3">
  <%= render "shared/user_presentation", :user => @user %>
  <div class="border w-75"><%= @user.bio %> </div>
  <% @user.recent_3_posts.each do |post| %>
  <a href="<%= user_post_path(@user.id, post.id) %>">
    <div class="border mt-2 w-75">
    <h2>Post: <%= post.id %></h2>
    <p><%= post.text %></p>
    <div  class="d-flex justify-content-between">
    <span>
      <% if can? :destroy, post %>
        <div id="hide_me">
        <%= form_with model: post, url: user_post_path(post.author_id,post.id), method: :delete, local: false do |f| %>
          <%= f.hidden_field :post_id, value: "1" %>
          <%= f.submit "Delete", class: "btn btn-primary" %>
        <% end %>
        </div>
      <% end %>
    </span>
    <h6 class="me-3"> comments : <%= post.comments_counter %>, likes : <%= post.likes_counter %></h6>
    </div>
    </div>
  </a>
  <% end %>
<a href="<%= user_posts_path(@user) %>" class="btn btn-primary justify-content-center mt-3"> See all post</a>
</div>